<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    <form>
      <div id="login-form">
        Please Log In to Your Account
        <label for="username">User Name:</label>
        <input
            id="username"
            type="text"
            required/>
        <label for="password">Password:</label>
        <input
            id="password"
            type="text"
            required
            />
      </div>

    </form>

    <script src="browse.js"></script>
  </body>
</html>
